[mysql_configs]
host=
port=3306
db=tcga
username=
password=

[cutoff]
pvalue=.5
#rface method
importance=0.0001
correlation=0
#pairwise method
loggedpvalue=-4

#this is used for dataset label, ie cancer_type_method_date
#the list tokens can be any string as long as it matches, otherwise
#the update dataset script will fail
[cancer_types]
list=brca,coad,coadread,gbm,ov

[pubcrawl]
dopubcrawl=no
pubcrawl_contact=

[results]
path=
dosmtp=no
notify=