# /proj/ilyalab/TCGA/rf-ace/bin/rf_ace -I ../KruglyakGenewisePhenoProteomics.NEW.transposed.csv -i 10589 -n 100 -m 1000 -p 20 -O associations_10589.out

[mysql_configs]
host=
db=tcga
username=
password=

[cutoff]
pvalue=.5
importance=0
correlation=0

[cancer_types]
list=brca,coad,coadread,gbm,ov

[results]
path=/titan/cancerregulome3/TCGA/outputs/parsed_associations
pubcrawl_contact=XXX
notify=XXX
