[mysql_configs]
host=
port=3306
db=
username=
password=

[cutoff]
pvalue=.5
importance=0
correlation=0

[cancer_types]
list=brca,coad,coadread,gbm,ov

[pubcrawl]
dopubcrawl=no
pubcrawl_contact=jlin@systemsbiology.org,aeakin@systemsbiology.org

[results]
path=/titan/cancerregulome3/TCGA/outputs/parsed_associations
dosmtp=no
notify=jlin@systemsbiology.org,aeakin@systemsbiology.org,sreynolds@systemsbiology.org,bbernard@systemsbiology.org,rkreisberg@systemsbiology.org
